<h1>All Ingredients</h1>
<section>
  <% ingredients.each do |ingredient| %>
    <section class='ingredients'>
      <ul>
        <article id='ingredient-<%= ingredient.id %>'>
          <p><%= ingredient.name %></p>
        </article>
      </ul>
    </section>
  <% end %>
</section>